@font-face {
  font-family: 'Avio-Expanded-Bold';
  src: url('font/woff2/woff2/Avio-Expanded-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avio-Extended-Bold';
  src: url('font/woff2/Avio-Extended-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avio-Extended-Medium';
  src: url('font/woff2/Avio-Extended-Medium.woff2') format('woff2');
  font-weight: 500; /* 500 è spesso usato per 'Medium' */
  font-style: normal;
}

@font-face {
  font-family: 'Avio-Extended-Regular';
  src: url('font/woff2/Avio-Extended-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avio-Medium';
  src: url('font/woff2/Avio-Medium.woff2') format('woff2');
  font-weight: 500; /* 500 è spesso usato per 'Medium' */
  font-style: normal;
}

@font-face {
  font-family: 'Avio-Regular';
  src: url('font/woff2/Avio-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --red-losi: #E53729;
  --black-losi: #1A1A1A;
}

body {
  font-family: 'Avio-Regular', sans-serif;
  margin: 0;
}

h1, h2 {
  font-family: 'Avio-Extended-Bold', sans-serif;
}

.red-losi {
  color: var(--red-losi);
}

.bg-black-losi {
  background-color: var(--black-losi);
}

.losi-btn {
  color: white;
  border-radius: 12px;
  transition: filter 0.3s ease;
  padding: .8em;
  font-weight: bold;
}

.btn-danger {
  background-color: var(--red-losi);  
}

.btn-danger:hover {
  background-color: var(--red-losi);
}

.btn-danger:active {
  background-color: var(--red-losi);
}

.btn-normal {
  background-color: var(--black-losi);
}

.btn-normal:hover {
  background-color: var(--black-losi);
  color: #ffffff;
}

.btn-normal:active {
  background-color: var(--black-losi) !important;
  color: #ffffff !important;
}

.custom-select-wrapper {
  position: relative;
  width: fit-content;
}

.custom-select {
  background-color: var(--black-losi) !important;
  padding: .8em;
  border-radius: 12px;
  font-weight: bold;
  color: white;
  border: none;
  -webkit-appearance: none; /* Rimuove la freccia predefinita per WebKit/Blink */
  -moz-appearance: none;    /* Rimuove la freccia predefinita per Firefox */
  appearance: none;         /* Rimuove la freccia predefinita per il futuro */
  padding-right: 2.1rem; /* Spazio per l'icona della freccia */
}

.custom-select:disabled {
  background-color: #6c757d !important; /* Sfondo grigio per il select disabilitato */
  color: white; /* Testo bianco per il select disabilitato */
  opacity: 1; /* Rimuovi l'opacità aggiunta di default dai browser per gli elementi disabilitati */
}

.custom-select-wrapper::after {
  content: '\f078'; /* Codice Unicode per l'icona della freccia di FontAwesome */
  font-family: 'FontAwesome';
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: white;
  pointer-events: none; /* Impedisce che l'icona interferisca con il clic sul select */
}

.custom-select:focus {
  outline: none;
}

.navbar-logo {
  width: 45%;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: calc(101vh - 5em);
}

.swiper-pagination-bullet {
  height: .5rem !important;
  border-radius: 9999px !important;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

.swiper-pagination-bullet-active {
  width: 30px !important;
  opacity: 1 !important;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
}

.slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.numbers {
  font-size: 7em;
  font-weight: bold;
}