<section class="container py-5">
    <!-- Titolo centrato -->
    <div class="row">
      <div class="col text-center mb-4">
        <h2 class="fw-bold black-losi">{{ (T "applicationsTitle") }}</h2>
      </div>
    </div>
  
    <!-- First row -->
    <div class="row gy-3">
      <div class="col-md-6">
        {{
            partial "application-image.html"
            (dict "imageName" "application-1.jpg"
                  "title" (T "applicationsStructuresTitle")
                  "description" (T "applicationsStructuresDescription")
        ) }}
      </div>
      <div class="col-md-6">
        {{
            partial "application-image.html"
            (dict "imageName" "application-2.jpg"
			"title" (T "applicationsElectronicsTitle")
			"description" (T "applicationsElectronicsDescription")
        ) }}
      </div>
      <div class="col-md-6">
        {{
            partial "application-image.html"
            (dict "imageName" "application-3.jpg"
			"title" (T "applicationsInteriorsTitle")
			"description" (T "applicationsInteriorsDescription")
        ) }}
      </div>
      <div class="col-md-6">
        {{
            partial "application-image.html"
            (dict "imageName" "application-4.jpg"
			"title" (T "applicationsMroTitle")
			"description" (T "applicationsMroDescription")
        ) }}
      </div>
    </div>
  </section>