<section class="container my-5">
    <!-- Titolo centrato -->
    <div class="row">
      <div class="col text-center mb-4">
        <h2>Titolo della Sezione</h2>
      </div>
    </div>
  
    <!-- Prima riga di immagini quadrate -->
    <div class="row">
      <div class="col-md-6">
        <div class="image-square" style="background-image: url('path/to/image1.jpg');">
          <div class="overlay">
            <h5>Titolo Immagine</h5>
            <p>Descrizione breve dell'immagine.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="image-square" style="background-image: url('path/to/image2.jpg');">
          <div class="overlay">
            <h5>Titolo Immagine</h5>
            <p>Descrizione breve dell'immagine.</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Seconda riga di immagini quadrate -->
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="image-square" style="background-image: url('path/to/image3.jpg');">
          <div class="overlay">
            <h5>Titolo Immagine</h5>
            <p>Descrizione breve dell'immagine.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="image-square" style="background-image: url('path/to/image4.jpg');">
          <div class="overlay">
            <h5>Titolo Immagine</h5>
            <p>Descrizione breve dell'immagine.</p>
          </div>
        </div>
      </div>
    </div>
  </section>