<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <!-- Slide 1 -->
    <div class="swiper-slide">
      <div class="overlay"></div>
      <img src="img/aerospace-industry.jpeg" alt="Image 1" class="object-fit-cover">
      <div class="slide-content text-start">
        <h1 class="medium-font slide-title">Global supplier of composite parts manufacturing solutions</h1>
        <p class="lh-lg w-75 fs-6 regular-font">Losi Group serves as a one-stop shop for the aerospace, motorsports and other industries with a portfolio of premium brands and technical expertise.</p>
        <a href="#" class="btn btn-danger losi-btn text-uppercase">Contact us</a>
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="swiper-slide">
      <img src="img/aerospace-industry.jpeg" alt="Image 2" class="object-fit-cover">
    </div>
    <!-- Slide 3 -->
    <div class="swiper-slide">
      <img src="img/aerospace-industry.jpeg" alt="Image 3" class="object-fit-cover">
    </div>
    <!-- Slide 3 -->
    <div class="swiper-slide">
      <img src="img/aerospace-industry.jpeg" alt="Image 3" class="object-fit-cover">
    </div>
  </div>
  <!-- Pagination -->
  <div class="swiper-pagination"></div>
</div>

<script>
  let swiper = new Swiper('.mySwiper', {
    spaceBetween: 0,
    centeredSlides: true,
    autoplay: {
      delay: 122500,
      disableOnInteraction: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
      bulletClass: 'swiper-pagination-bullet',
      bulletActiveClass: 'swiper-pagination-bullet-active'
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
