<div class="col-xxl-3 col-lg-6 col-xs-12 mb-5">
    <div class="video-wrapper">
        <iframe width="336" height="189" src="{{ .videoUrl }}" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="text-wrapper">
        <h4 class="fw-bold">{{ .title }}</h4>
        <p class="regular-font">{{ .description }}</p>
    </div>
</div>