<div class="col-xxl-3 col-md-6 col-xs-12 mb-4">
    <iframe width="336" height="189" src="{{ .videoUrl }}" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h4 class="fw-bold">{{ .title }}</h4>
    <p class="regular-font">{{ .description }}</p>
    <a href="#" class="d-flex align-items-center text-decoration-none fw-bold black-losi arrow-link">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-2">
            <rect x="0.5" y="0.5" width="43" height="43" rx="21.5" stroke="#B8B8B8" />
            <path d="M24.43 15.9298L30.5 21.9998L24.43 28.0698" stroke="#E53729" stroke-width="1.5"
                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M13.5 22L30.33 22" stroke="#E53729" stroke-width="1.5" stroke-miterlimit="10"
                stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        FIND OUT MORE
    </a>
</div>