<section class="container-fluid py-5" id="case_studies">
    <div class="w-100 text-center pb-3">
        <h2 class="my-3 fw-bold black-losi">Case Studies</h2>
    </div>

    <!-- Videos -->
    <div class="row my-4 justify-content-center gx-4">
        {{
            partial "case-study-card.html"
            (dict "videoUrl" "https://www.youtube.com/embed/BucTNZCOc24?si=LJtO6IWch_81qcuh"
                  "title" "Henkel's Liquid Shim Solutions for Aerospace Assembly."
                  "description" "In aerospace assembly, when substrates are fastened together air gaps are formed. To prevent stress points, shimming materials are needed to fill these gaps. Unlike the traditional solid shims, the liquid shims are faster and easier."
        ) }}
        {{
            partial "case-study-card.html"
            (dict "videoUrl" "https://www.youtube.com/embed/MspylAy8xWw?si=9elq4R-ssAuc0rmr"
                  "title" "How are structural adhesives meeting aerospace demands?"
                  "description" "Structural adhesives play a vital role in aircraft assembly, ensuring the strength and durability of critical components. Henkel and Abaris demonstrate advanced techniques for applying these adhesives, safeguarding the structural integrity of aircraft."
        ) }}
        {{
            partial "case-study-card.html"
            (dict "videoUrl" "https://www.youtube.com/embed/39DUETUao5I?si=sAOQx6DRIG2RmQ8H"
                  "title" "How to bond and fasten aircrafts with paste adhesives?"
                  "description" "Aircraft design advancements have spurred innovation in bonding methods. While mechanical fasteners are still used, the need for adhesives has grown significantly. Henkel offers a broad portfolio of paste adhesives for next generation bonding solutions."
        ) }}
    </div>
</section>
