<section class="container-fluid p-5 bg-black-losi">
    <div class="row d-flex justify-content-center">

        <!-- Map -->
        <div class="col-4 me-2">
            <img src="img/map.png" alt="Mappa sede Losi" class="img-fluid rounded-4">
        </div>
        
        <!-- DrLosi Info + Button -->
        <div class="col-7 bg-white rounded-4">
            <div class="text-center">
                <h2 class="fw-bold">drlosi.com</h2>
                <p>Altre informazioni importanti...</p>
            </div>
            <a href="#" class="btn btn-danger losi-btn text-uppercase rounded-4 w-100">Contact us</a>
        </div>
    </div>
</section>