<div class="container-fluid bg-black p-4 px-5">
    <div class="row g-3 m-3 justify-content-center">
        <!-- Map -->
        <div class="col-12 col-lg-5 d-flex justify-content-end">
            <img src="img/map.png" alt="Descrizione dell'immagine" class="img-fluid rounded-4">
        </div>
        <!-- Info -->
        <div class="col-12 col-lg-5 d-flex flex-column">
            <div class="info bg-white w-100 rounded-3 text-center d-flex flex-column justify-content-center p-4 flex-grow-1" style="align-self: flex-start;">
                <h2 class="fw-bold">drlosi.com</h2>
                <p class="m-0">Via Amendola, 18, C.P. 148 - 26841</p>
                <p class="m-0">Casalpusterlengo (LO) - Italia</p>
                <p class="m-0">Tel: +39 0377 83 02 09</p>
                <p class="m-0">Fax: +39 0377 83 27 13</p>
            </div>
            <button class="btn btn-danger mt-3 text-uppercase w-100 rounded-3">Contact us</button>
        </div>

    </div>
</div>      