<div class="container-fluid bg-black-losi p-4 px-5">
    <div class="row g-3 m-3 justify-content-center">
        <!-- Map -->
        <div class="col-12 col-lg-5 d-flex justify-content-end">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2812.4152316992154!2d9.629426176258509!3d45.17869017107064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4780d8b93f8f836b%3A0x3ad2f3d0d5937f52!2sVia%20Amendola%2C%2018%2C%2026841%20Casalpusterlengo%20LO!5e0!3m2!1sit!2sit!4v1712235714705!5m2!1sit!2sit"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="rounded-4" title="Mappa sede DrLosi"></iframe>
        </div>
        <!-- Info -->
        <div class="col-12 col-lg-5 d-flex flex-column">
            <div class="info bg-white w-100 rounded-4 text-center d-flex flex-column justify-content-center p-4 flex-grow-1 regular-font">
                <h2 class="fw-bold pb-3">drlosi.com</h2>
                <p class="m-0">Via Amendola, 18, C.P. 148 - 26841</p>
                <p class="m-0">Casalpusterlengo (LO) - Italia</p>
                <p class="m-0"><a class="text-decoration-none black-losi" href="tel:+390377830209">Tel: +39 0377 83 02 09</a></p>
                <p class="m-0"><a class="text-decoration-none black-losi" href="fax:+390377832713">Fax: +39 0377 83 27 13</a></p>
            </div>
            <button class="btn btn-danger losi-btn mt-3 text-uppercase w-100 rounded-3">Contact us</button>
        </div>

    </div>
</div>