<section class="container-fluid py-5 bg-black-losi" id="certified_distributor">
	<div class="row justify-content-center row-gap-3">
		<div class="col-lg-7 col-md-8 mb-3 text-white lh-2 ps-3">
			<p class="pt-5 lh-lg fs-5 regular-font">
				Did you know that Losi Srl has been a trusted partner of Henkel
				Aerospace for over two decades? That's right! Since 1997, we've
				been working hand-in- hand with Henkel to deliver top-notch,
				fully integrated solutions to aerospace OEMs and their
				sub-suppliers globally. With our technical expertise in Henkel
				Aero product portfolio and dedicated customer service, we are
				well equipped to solve any challenge you come across.
			</p>
			<a
				href="#"
				class="btn btn-danger losi-btn text-uppercase mt-4"
				data-bs-toggle="modal"
				data-bs-target="#contactModal"
				>Contact us</a
			>
		</div>
		<div class="col-lg-4 col-md-8 text-center d-flex justify-content-end">
			<img
				src="img/certified-distributor.png"
				alt="Immagine distributor"
				class="img-fluid object-fit-contain"
			/>
		</div>
	</div>
</section>
