<section class="container-fluid py-5 bg-black-losi">
    <div class="row my-3">
        <div class="col-lg-7 mb-3 text-white lh-2 ms-4">
            <p>DrLosi is your Authorized Distributor of Henkel Aerospace products, including market leaders Bonderite
                and Loctite. As a fully Certified and Authorized Disributor, we can provide in-stock products, 100%
                shelf life from the time of shipment, and the industry's best specification review prior to shipment. In
                addition, our team of Technical Account Managers offer personalized expertise and consultations to meet
                your product and operational needs.</p>
            <a href="#" class="btn btn-danger text-uppercase">Contact us</a>
        </div>
        <div class="col-lg-4 ms-3 d-flex justify-content-center">
            <img src="img/certified-distributor.jpeg" alt="Immagine Descrittiva"
                class="img-fluid certified-distributor">
        </div>
    </div>
</section>