<footer class="footer mt-auto py-4 bg-black-losi">
  <div class="container text-center">
    <span class="text-white">© {{ time.Now.Year }} {{ T "footerRights" }}</span>
    <span class="text-white mx-3">|</span>
    <a href="/contatti" class="text-white fw-bold text-decoration-none">{{ T "footerData" }}</a>
    <span class="text-white mx-3">|</span>
    <a href="https://www.iubenda.com/privacy-policy/49348890" class="text-white fw-bold text-decoration-none">Privacy Policy</a>
  </div>
</footer>