<nav class="navbar navbar-expand-lg navbar-dark bg-black-losi px-5">
  <div class="container-fluid mx-1 my-2 px-4">
    <a class="navbar-brand" href="#">
      <img src="img/logo.png" class="d-inline-block navbar-logo" alt="DrLosi Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav text-uppercase fw-bold">
        <a class="nav-link text-white" aria-current="page" href="#products">Product Categories</a>
        <a class="nav-link text-white" href="#case_studies">Case Studies</a>
        <a class="nav-link text-white" href="#selector_guide">Selector Guide</a>
        <a class="nav-link text-white" href="#certified_distributor">Henkel Certificate</a>
        <li class="nav-item dropdown">
          <a class="nav-link text-white text-uppercase" href="#" id="navbarLanguageDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Eng &nbsp<i class="fa fa-chevron-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarLanguageDropdown">
            <li><a class="dropdown-item text-center" href="?lang=it">ITA</a></li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>