<section class="container py-5">
    <div class="row text-center">
        <div class="col">
            <div class="d-inline-block text-center">
                <h2 class="mb-4 numbers red-losi">3</h2>
                <div class="text-end position-relative">
                    <p class="fs-4 position-absolute bottom-0 end-0 fw-bold">Divisions</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-inline-block text-center">
                <h2 class="mb-4 numbers red-losi">+10</h2>
                <div class="text-end position-relative">
                    <p class="fs-4 position-absolute bottom-0 end-0 fw-bold">Partners</p>
                </div>
            </div>
        </div>
    <div class="col">
        <div class="d-inline-block text-center">
            <h2 class="mb-4 numbers red-losi">+250</h2>
            <div class="text-end position-relative">
                <p class="fs-4 position-absolute bottom-0 end-0 fw-bold">Customers</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-3 mx-3">
            <p class="fs-4 lh-2 px-3">With a steadfast commitment to success dating back to 1988, Dr. Losi has established itself as a
                prominent company headquartered in Italy. Specializing in structural bonding solutions, surface
                treatment products, pre-pregs, vacuum bagging materials, assembly, and repair technologies, our global
                reach spans across various industries</p>
        </div>
    </div>
    </div>
</section>
