<section class="container py-5">
    <div class="row text-end">
        <div class="col-md-3 mb-3">
            <h2 class="numbers red-losi">3</h2>
            <p class="fw-bold fs-4 mt-0">Divisions</p>
        </div>
        <div class="col-md-4 mb-3">
            <h2 class="numbers red-losi">+10</h2>
            <p class="fw-bold fs-4 mt-0">Partners</p>
        </div>
        <div class="col-md-5 mb-3">
            <h2 class="numbers red-losi">+250</h2>
            <p class="fw-bold fs-4 mt-0">Customers</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-3 mx-3">
            <p>With a steadfast commitment to success dating back to 1988, Dr. Losi has established itself as a
                prominent company headquartered in Italy. Specializing in structural bonding solutions, surface
                treatment products, pre-pregs, vacuum bagging materials, assembly, and repair technologies, our global
                reach spans across various industries</p>
        </div>
    </div>
</section>