<section class="container py-5" id="products">
  <div class="row">
    <div class="col text-center black-losi">
      <h2 class="fw-bold">Products</h2>
    </div>
  </div>

  <div class="row my-4 justify-content-center row-gap-3">
    <div class="col-auto">
      <div class="custom-select-wrapper">
        <select class="form-select custom-select text-uppercase shadow-none" id="filter-selector">
          <option value="all" selected>Show All Products</option>
          <optgroup label="Loctite" id="optgroup-loctite">
            <option value="loctite-all">All Loctite</option>
            <option value="loctite-film-adhesives">Film Adhesives</option>
            <option value="loctite-paste-adhesives">Paste Adhesives</option>
            <option value="loctite-primers">Primers</option>
            <option value="loctite-syntactics-core-fill-and-abrasives">Syntactics, Core-Fill, and Abrasives</option>
            <option value="loctite-mold-release-frekote">Mold Release (FREKOTE)</option>
          </optgroup>
          <optgroup label="Bonderite" id="optgroup-bonderite">
            <option value="bonderite-all">All Bonderite</option>
            <option value="bonderite-metal-pretreatment">Metal Pretreatment</option>
            <option value="bonderite-chemical-milling-and-maskants">Chemical Milling and Maskants</option>
            <option value="bonderite-aircraft-engine-cleaners-maintenance">Aircraft Engine Cleaners & Maintenance
            </option>
            <option value="bonderite-aircraft-depaint-and-repaint">Aircraft Depaint and Repaint</option>
          </optgroup>
        </select>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 justify-content-center">
    {{ partial "film-adhesives.html" . }}
    {{ partial "paste-adhesives.html" . }}
    {{ partial "primers.html" . }}
    {{ partial "syntactics-core-fill-and-abrasives.html" . }}
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const filterSelector = document.querySelector('#filter-selector');
    const productCards = document.querySelectorAll('.product-card');

    function updateFilters() {
      const selectedOption = filterSelector.options[filterSelector.selectedIndex];
      const selectedValue = selectedOption.value;
      const selectedText = selectedOption.text;
      const isBrandOption = selectedValue.endsWith('-all');
      
      productCards.forEach(card => {
        if (selectedValue === 'all') {
          card.classList.remove('d-none');
        } else if (isBrandOption) {          
          const brandClass = selectedValue.replace('-all', '');
          if (card.classList.contains(brandClass)) {
            card.classList.remove('d-none');
          } else {
            card.classList.add('d-none');
          }
        } else {
          if (card.classList.contains(selectedValue)) {
            card.classList.remove('d-none');
          } else {
            card.classList.add('d-none');
          }
        }
      });
    }

    filterSelector.addEventListener('change', updateFilters);
  });
</script>