<div class="container-fluid py-5 bg-black-losi" id="selector_guide">
    <div class="w-100 text-center pb-3">
        <h2 class="text-white my-3 fw-bold">Product Selector Guides</h2>
    </div>
    <div class="row d-flex justify-content-center px-5 row-gap-3">
        <div class="col-12 col-md-6">
            <iframe
                allowfullscreen="allowfullscreen"
                scrolling="no"
                class="fp-iframe"
                style="border: 0px; width: 100%; height: 600px"
                src="https://heyzine.com/flip-book/603f0ea277.html"
            ></iframe>
        </div>
        <div class="col-12 col-md-6">
            <iframe
                allowfullscreen="allowfullscreen"
                scrolling="no"
                class="fp-iframe"
                style="border: 0px; width: 100%; height: 600px"
                src="https://heyzine.com/flip-book/ff8473eef4.html"
            ></iframe>
        </div>
        <div class="col-12 col-md-6">
            <iframe
                allowfullscreen="allowfullscreen"
                scrolling="no"
                class="fp-iframe"
                style="border: 0px; width: 100%; height: 600px"
                src="https://heyzine.com/flip-book/1cb5475ec2.html"
            ></iframe>
        </div>
        <div class="col-12 col-md-6">
            <iframe
                allowfullscreen="allowfullscreen"
                scrolling="no"
                class="fp-iframe"
                style="border: 0px; width: 100%; height: 600px"
                src="https://heyzine.com/flip-book/ec6e5175ac.html"
            ></iframe>
        </div>
        <div class="col-12 col-md-6">
            <iframe
                allowfullscreen="allowfullscreen"
                scrolling="no"
                class="fp-iframe"
                style="border: 0px; width: 100%; height: 600px"
                src="https://heyzine.com/flip-book/7228946866.html"
            ></iframe>
        </div>
        <div class="col-12 col-md-6">
            <iframe
                allowfullscreen="allowfullscreen"
                scrolling="no"
                class="fp-iframe"
                style="border: 0px; width: 100%; height: 600px"
                src="https://heyzine.com/flip-book/f9015c3b97.html"
            ></iframe>
        </div>
        <div class="col-12 col-md-6">
            <iframe
                allowfullscreen="allowfullscreen"
                scrolling="no"
                class="fp-iframe"
                style="border: 0px; width: 100%; height: 600px"
                src="https://heyzine.com/flip-book/614730422c.html"
            ></iframe>
        </div>
    </div>
</div>
