{{ define "main" }}
  <main aria-role="main">
    <header class="homepage-header">
      {{ partial "navbar.html" . }}
    </header>
    <div class="homepage-content">
      {{ partial "carousel.html" . }}
      {{ partial "numbers-section.html" . }}
      {{ partial "distributor-section.html" . }}
      {{ partial "products-section.html" . }}
      {{ partial "selector-guide-section.html" . }}
      {{ partial "applications-section.html" . }}
      {{ partial "aerospace-section.html" . }}
      {{ partial "case-studies-section.html" . }}
      
      <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
      {{ .Content }}
    </div>
  </main>
{{ end }}